In [1]:
import pandas as pd 
import numpy as np
# from surprise import Dataset
import warnings
import operator
import math
warnings.filterwarnings('ignore')

In [2]:
#Full Name	Student ID	First	Last	Cohort	Evening	Location	Phone Number	Email	Career Interests for Matching	Attendance	Module Score	Project Score	Bonus	Total Score

In [3]:
# df_st_mat = pd.read_csv("stu_matBig.csv")
df_st_mat = pd.read_csv("stu_mat.csv")

In [4]:
df_st_mat = df_st_mat.replace(to_replace = np.nan,  value=0)

In [5]:
df_st_mat.head()

,Student,ID,Human Resources,Management,Public Relations,Communications,Software,Health,Education,Finance,Business
0,Adam Ababneh,1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,Akhil Modali,2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,Alejandra Magana,3,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,Alexandra Reyes,4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Angeles Chavez,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
# df_vol_mat = pd.read_csv("vol_matBig.csv")
df_vol_mat = pd.read_csv("vol_mat.csv")

In [7]:
df_vol_mat = df_vol_mat.replace(to_replace = np.nan,  value=0)

In [8]:
df_vol_mat.head()

,Volunteer,ID,Human Resources,Management,Public Relations,Communications,Software,Health,Education,Finance,Business
0,Jiaxian Cai,11111,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,Kevin Orlando Rodezno Polanco,11112,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Allison Meyers,11113,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,Suzette Sandoval,11114,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
4,Dionne Gayle,11115,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0

In [9]:
vol_tuple= []
for i in range (len(df_vol_mat)):
#     vol_tuple.append(df_vol_mat.loc[i][1:])
    vol_tuple.append(df_vol_mat.loc[i][:])

In [10]:
np.asarray(vol_tuple)

array([['Jiaxian Cai', 11111, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0,
        0.0],
       ['Kevin Orlando Rodezno Polanco', 11112, 0.0, 1.0, 1.0, 1.0, 0.0,
        0.0, 0.0, 0.0, 0.0],
       ['Allison Meyers', 11113, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0,
        0.0],
       ['Suzette Sandoval', 11114, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0,
        0.0, 0.0],
       ['Dionne Gayle', 11115, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0,
        0.0],
       ['Daman Ahluwalia', 11116, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0,
        0.0],
       ['Meredith Curry', 11117, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0,
        1.0],
       ['Charles Anderson', 11118, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0,
        1.0, 0.0],
       ['Lauren Koehler', 11119, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0,
        0.0]], dtype=object)

# Volunteer Jaccard Array

In [11]:
vol_Array=np.asarray(vol_tuple)
print(vol_Array)
print(vol_Array.shape)

[['Jiaxian Cai' 11111 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0]
 ['Kevin Orlando Rodezno Polanco' 11112 0.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0
  0.0]
 ['Allison Meyers' 11113 0.0 1.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0]
 ['Suzette Sandoval' 11114 0.0 0.0 1.0 1.0 0.0 1.0 1.0 0.0 0.0]
 ['Dionne Gayle' 11115 1.0 0.0 1.0 0.0 1.0 1.0 0.0 0.0 0.0]
 ['Daman Ahluwalia' 11116 0.0 1.0 1.0 1.0 0.0 1.0 0.0 0.0 0.0]
 ['Meredith Curry' 11117 1.0 1.0 0.0 0.0 1.0 0.0 1.0 0.0 1.0]
 ['Charles Anderson' 11118 0.0 1.0 0.0 1.0 0.0 1.0 1.0 1.0 0.0]
 ['Lauren Koehler' 11119 1.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0]]
(9, 11)

# Student Jaccard Array

In [12]:
Stu_tuple= []
for i in range (len(df_st_mat)):
#     Stu_tuple.append(df_st_mat.loc[i][1:])
    Stu_tuple.append(df_st_mat.loc[i][:])

In [13]:
stu_Array= np.asarray(Stu_tuple)
print(stu_Array)
print(stu_Array.shape)

[['Adam Ababneh' 1 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0]
 ['Akhil Modali' 2 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0]
 ['Alejandra Magana' 3 1.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0]
 ['Alexandra Reyes' 4 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0]
 ['Angeles Chavez' 5 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0]
 ['Anna Terzian' 6 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0]
 ['Cameryn Newman' 7 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0]
 ['Daniella Medina' 8 0.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0]
 ['David Oguns' 9 1.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0]]
(9, 11)

# student Data

In [14]:
stu_list = df_st_mat.values.tolist()
print(stu_list)

[['Adam Ababneh', 1, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0], ['Akhil Modali', 2, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0], ['Alejandra Magana', 3, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0], ['Alexandra Reyes', 4, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0], ['Angeles Chavez', 5, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0], ['Anna Terzian', 6, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], ['Cameryn Newman', 7, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0], ['Daniella Medina', 8, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], ['David Oguns', 9, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0]]

# Volunteer Data

In [15]:
vol_list = df_vol_mat.values.tolist()
print(vol_list)

[['Jiaxian Cai', 11111, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0], ['Kevin Orlando Rodezno Polanco', 11112, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], ['Allison Meyers', 11113, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0], ['Suzette Sandoval', 11114, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0], ['Dionne Gayle', 11115, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0], ['Daman Ahluwalia', 11116, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0], ['Meredith Curry', 11117, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0], ['Charles Anderson', 11118, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0], ['Lauren Koehler', 11119, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0]]

In [16]:
#backup loop
# vol_s =[]
# vol_sim={}
# stu_s =[]
# stu_sim={}
# for i in vol_list:
#     v1= i
#     vol_s.append(v1[0:2])
# #     viarr = int(v1[1:])
#     print(v1[1:])
#     sumxx,sumyy,sumxy =0,0,0
# #     print(vol_s[0][1])
# #     print(vol_s)
#     for j in stu_list:
#         v2=j
#         print (v2[1:])
#         stu_s.append(v2[0:2])
#         #cosine
# #         x=v1[2:]
# #         y=v2[2:]
# #         sumxx += x*x
# #         sumyy += y*y
# #         sumxy += x+y
# #         print(sumxy/math.sqrt(sumxx*sumyy))
# #         print(viarr)
        
        
#         break
        
#     break

# Finding Similarities and mapping with volunteer to all the students Volunteer to student confidence calculation

In [17]:
vol_stu_list=[]
for i in vol_Array:
    tupList=[]
    vol_stu_List = []
    sim=0
    v1=i
#     print("1 is here")
    sumxx,sumyy,sumxy =0,0,0
    for j in stu_Array:
#         print("2 is here")
        v2=j
        
#         k=0
        k=0
        
        for k in range(len(v1)-1):
#             print("3 is here")
            x=v1[k+1]
            y=v2[k+1]
#             print(v2)
            sumxx += x*x
            sumyy += y*y
            sumxy += x*y
            sim = sumxy/math.sqrt(sumxx*sumyy)
#         print("4 is here")
        tupList.append((v2[0],v2[1],sim))
#         print(v2[1])
#     print(tupList)
    sortby = sorted(tupList, key= lambda tup: tup[1],reverse=True)
#     print(len(sortby))
#     print(v1)
#     print(sortby[:3])
#     print("here" , v1[0])
    temp = sortby
#     print(temp,'temp')
#     print(v1[0])
    vol_stu_list.append((v1[0],v1[1],temp))
#     print(list(vol_stu_list))
#     break
# print(vol_stu_list)
   
    
# print(len(vol_stu_list))
    
    
        
#         sortby = tupList.sort(key = lambda tup: tup[0])
#         for q in tupList:
#             print(q)
    
#         print(tupList)
        #2nd for end
        

#     break
# print(vol_stu_list)
# p=0
# for l in (vol_stu_list):
# #     print(vol_stu_list)
# #     print(p,"p")
#     print(vol_stu_list[p][0][0], vol_stu_list[p][1])
#     p=p+1

# list(map(lambda x:print(x),vol_stu_map))

print((vol_stu_list))
# print(dir(vol_stu_list))
# list_vol = list(vol_stu_list)

[('Jiaxian Cai', 11111, [('David Oguns', 9, 0.8533389453903181), ('Daniella Medina', 8, 0.8523438665480237), ('Cameryn Newman', 7, 0.8446401884579444), ('Anna Terzian', 6, 0.8327327016560991), ('Angeles Chavez', 5, 0.8135233705293939), ('Alexandra Reyes', 4, 0.7809039362399531), ('Alejandra Magana', 3, 0.7385932472904329), ('Akhil Modali', 2, 0.6708606320078686), ('Adam Ababneh', 1, 0.577454183922376)]), ('Kevin Orlando Rodezno Polanco', 11112, [('David Oguns', 9, 0.8533372406549892), ('Daniella Medina', 8, 0.8523417376348326), ('Cameryn Newman', 7, 0.8446320458242016), ('Anna Terzian', 6, 0.8327255655680145), ('Angeles Chavez', 5, 0.8135136096616382), ('Alexandra Reyes', 4, 0.7809039362420875), ('Alejandra Magana', 3, 0.7385821689476596), ('Akhil Modali', 2, 0.6708807541059119), ('Adam Ababneh', 1, 0.5774022195429488)]), ('Allison Meyers', 11113, [('David Oguns', 9, 0.8533372391212625), ('Daniella Medina', 8, 0.8523438665524498), ('Cameryn Newman', 7, 0.8446374731102461), ('Anna Terzian', 6, 0.8327291317687122), ('Angeles Chavez', 5, 0.8135184875731686), ('Alexandra Reyes', 4, 0.7809109597067401), ('Alejandra Magana', 3, 0.7385932423099727), ('Akhil Modali', 2, 0.6708807486750915), ('Adam Ababneh', 1, 0.5774541675604813)]), ('Suzette Sandoval', 11114, [('David Oguns', 9, 0.8533372341335922), ('Daniella Medina', 8, 0.8523417311210433), ('Cameryn Newman', 7, 0.8446347536085662), ('Anna Terzian', 6, 0.8327291261523977), ('Angeles Chavez', 5, 0.8135136019808288), ('Alexandra Reyes', 4, 0.7809039267615971), ('Alejandra Magana', 3, 0.7385932353353893), ('Akhil Modali', 2, 0.6708807405295938), ('Adam Ababneh', 1, 0.5774022078583146)]), ('Dionne Gayle', 11115, [('David Oguns', 9, 0.8533406446874969), ('Daniella Medina', 8, 0.8523459897226763), ('Cameryn Newman', 7, 0.8446428935612051), ('Anna Terzian', 6, 0.8327362588748107), ('Angeles Chavez', 5, 0.8135233582431017), ('Alexandra Reyes', 4, 0.7809109489635769), ('Alejandra Magana', 3, 0.7386043057097921), ('Akhil Modali', 2, 0.6708606175308941), ('Adam Ababneh', 1, 0.5774541465295269)]), ('Daman Ahluwalia', 11116, [('David Oguns', 9, 0.8533423487380187), ('Daniella Medina', 8, 0.8523459878089424), ('Cameryn Newman', 7, 0.844637463837538), ('Anna Terzian', 6, 0.8327326888263191), ('Angeles Chavez', 5, 0.8135184763843548), ('Alexandra Reyes', 4, 0.7809109451738254), ('Alejandra Magana', 3, 0.7385932273689443), ('Akhil Modali', 2, 0.6708807296738151), ('Adam Ababneh', 1, 0.577402198515148)]), ('Meredith Curry', 11117, [('David Oguns', 9, 0.8533423432932937), ('Daniella Medina', 8, 0.8523481121301897), ('Cameryn Newman', 7, 0.8446428852665362), ('Anna Terzian', 6, 0.832732682892752), ('Angeles Chavez', 5, 0.8135282271616671), ('Alexandra Reyes', 4, 0.7809179623217877), ('Alejandra Magana', 3, 0.7386042927642724), ('Akhil Modali', 2, 0.6708807215332012), ('Adam Ababneh', 1, 0.577402191508823)]), ('Charles Anderson', 11118, [('David Oguns', 9, 0.853342341301924), ('Daniella Medina', 8, 0.8523438510433526), ('Cameryn Newman', 7, 0.8446347433665009), ('Anna Terzian', 6, 0.8327291138084268), ('Angeles Chavez', 5, 0.8135184678325968), ('Alexandra Reyes', 4, 0.7809039109730008), ('Alejandra Magana', 3, 0.7385932164177679), ('Akhil Modali', 2, 0.6708807161082406), ('Adam Ababneh', 1, 0.5773502575127669)]), ('Lauren Koehler', 11119, [('David Oguns', 9, 0.8533457501698772), ('Daniella Medina', 8, 0.8523459786227001), ('Cameryn Newman', 7, 0.8446374545716763), ('Anna Terzian', 6, 0.8327326777662036), ('Angeles Chavez', 5, 0.8135233426755502), ('Alexandra Reyes', 4, 0.780903907817525), ('Alejandra Magana', 3, 0.7385932124375895), ('Akhil Modali', 2, 0.6708606003512014), ('Adam Ababneh', 1, 0.5773502575148671)])]

In [18]:
# print((vol_stu_list))
print("Volunteer count",len(vol_stu_list))
print(vol_stu_list[0][2][1])
print("Student Count",len(vol_stu_list[0][2]))

Volunteer count 9
('Daniella Medina', 8, 0.8523438665480237)
Student Count 9

# Mapping for reccomendation

In [27]:
selectedVal=[]
mapList=[]
p=0
size = len(vol_stu_list[0][2])
print(len(vol_stu_list[0][2]))
p=0
for q in range(len(vol_stu_list[0][2])):
    comst=[]
    for e in vol_stu_list:
#         print("e[2]",e[2][p][1])
#         print("e[1][0][0]",e[0],"  ",e[1], "mapped",e[2][p][0],"  1hello " , e[2][p][1], "score", e[2][p][2])
        comst.append((e[0],e[1],e[2][p][0],e[2][p][1],e[2][p][2]))
    comstsort = sorted(comst, key= lambda tup: tup[4],reverse=True)
#     print(comstsort)
    mapList.append((comstsort[0:2])) # [0:3] will take top three neighbours
#     print(mapList)
    p=p+1

9

In [28]:
# for

In [29]:
print(mapList)

[[('Lauren Koehler', 11119, 'David Oguns', 9, 0.8533457501698772), ('Daman Ahluwalia', 11116, 'David Oguns', 9, 0.8533423487380187)], [('Meredith Curry', 11117, 'Daniella Medina', 8, 0.8523481121301897), ('Dionne Gayle', 11115, 'Daniella Medina', 8, 0.8523459897226763)], [('Dionne Gayle', 11115, 'Cameryn Newman', 7, 0.8446428935612051), ('Meredith Curry', 11117, 'Cameryn Newman', 7, 0.8446428852665362)], [('Dionne Gayle', 11115, 'Anna Terzian', 6, 0.8327362588748107), ('Jiaxian Cai', 11111, 'Anna Terzian', 6, 0.8327327016560991)], [('Meredith Curry', 11117, 'Angeles Chavez', 5, 0.8135282271616671), ('Jiaxian Cai', 11111, 'Angeles Chavez', 5, 0.8135233705293939)], [('Meredith Curry', 11117, 'Alexandra Reyes', 4, 0.7809179623217877), ('Allison Meyers', 11113, 'Alexandra Reyes', 4, 0.7809109597067401)], [('Dionne Gayle', 11115, 'Alejandra Magana', 3, 0.7386043057097921), ('Meredith Curry', 11117, 'Alejandra Magana', 3, 0.7386042927642724)], [('Kevin Orlando Rodezno Polanco', 11112, 'Akhil Modali', 2, 0.6708807541059119), ('Allison Meyers', 11113, 'Akhil Modali', 2, 0.6708807486750915)], [('Jiaxian Cai', 11111, 'Adam Ababneh', 1, 0.577454183922376), ('Allison Meyers', 11113, 'Adam Ababneh', 1, 0.5774541675604813)]]

In [22]:
# # df = pd.DataFrame(mapList[1:][1], columns=["Volunteer", "Student","Match"])
# a= pd.DataFrame(mapList)
# print(a.head())
# df = pd.DataFrame(mapList[1:][1],columns=["Volunteer Name", "Volunteer ID","Student Name"," Student Match"])
# # print(df.head())


# df1 = pd.DataFrame(mapList[2:][1],columns=["Volunteer Name", "Volunteer ID","Student Name"," Student Match"])
# # df1.head()

In [23]:
# pd.pivot_table(df,index = df[0][0],values=df[0][1])

In [24]:
# import csv

# # with open('file.csv', 'w') as f:
# #   reader = csv.reader(f)
# #   your_list = list(mapList)

# # print(your_list)

# with open('file.csv', 'w') as myfile:
#     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
#     wr.writerows(mapList)

In [25]:
# with open('file_small.csv', 'w') as myfile:
#     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
#     wr.writerows(mapList)